source/dockerlayer/layer.zip
source/tests/__pycache__/
tests/__pycache__/
source/layer.zip
package/
deployment-package.zip
source/lambda00/__pycache__/
source/lambda01/__pycache__/
source/lambda02/__pycache__/
source/lambda03/__pycache__/
source/lambda04/__pycache__/